
* {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: rgb(175, 195, 141);
}

#pomodoro-logo {
    width: 80px;
}

header, #timer {
    text-align: center;
}

header > p {
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header > h1, img{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: 500;
}

#stage4 , #stage5 {
    height: 200px;
    vertical-align: top;
}

#stage0 , #stage1, #stage2, #stage3 {
    height: 300px;
}
